/warhammer/nbproject/private/
/warhammer/build/
/warhammer/dist/
/warhammer2/target/
/AnagramGame/nbproject/private/
/AnagramGame/build/
/Fundusze/nbproject/private/
/YoutubeLinkStorage/target/
/maciekProjec1/target/